body {
    background-color: whitesmoke;
    overflow: hidden;
    overflow-x: hidden;
}

.homepage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    box-sizing: border-box;
}

.homepage-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
}

.homepage-title h1 {
    font-size: 5rem;
    font-family: 'Sora', sans-serif;
    font-weight: 600;
    color: #333;
    letter-spacing: -4px;
    text-align: left;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    animation: slideIn 1.5s ease-in-out forwards;
    margin-top: 0;
    margin-bottom: 0;
}

.homepage-title h1.part1 {
    animation-delay: 0s;
}

.homepage-title h1.part2 {
    animation-delay: 0.5s;
}

.homepage-title h1.part3 {
    animation-delay: 1s;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    50% {
        opacity: 0.5;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.homepage {
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.scroll-up {
    animation: scrollUp 0.5s forwards;
}

.homepage-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 600px;
    min-width: 400px;
    text-align: left;
    margin-left: 10rem;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 30px;
    padding-top: 7rem;
    padding-bottom: 7rem;
    padding-left: 2rem;
    opacity: 1;
    animation: slideLeft 1.5s ease-in-out;
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    50% {
        opacity: 0.5;
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.homepage-content-title {
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 0;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}

.homepage-content-description {
    font-size: 1.2rem;
    color: #ffffff;
    line-height: 1.3;
    max-width: 300px;
}

.homepage-content-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: auto;
    margin-bottom: 3rem;
    gap: 3rem;
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
    font-family: 'Sora', sans-serif;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    justify-content: center;
    position: fixed;
    bottom: 0;
}

.homepage-content-links-item {
    text-decoration: none;
    color: #333;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: 1px solid #333;
    padding: 0.7rem;
    border-radius: 30px;
    opacity: 0;
    animation: slideInLeft 1.5s ease-in-out forwards;
    max-width: 100%;
    box-sizing: border-box;
}

.homepage-content-links-item.part1 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.part1 {
    animation-delay: 0s;
}

.part2 {
    animation-delay: 0.3s;
}

.part3 {
    animation-delay: 0.6s;
}

.part4 {
    animation-delay: 0.9s;
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes scrollUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-100vh);
    }
}


@media (max-width: 540px) {
    body {
        overflow-x: hidden;
    }

    .homepage {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        height: auto;
        width: 100vw;
    }

    .homepage-title {
        margin-top: 15vh;
        margin-bottom: 2rem;
        width: 100%;
        padding: 0 1rem;
        box-sizing: border-box;
    }

    .homepage-title h1 {
        font-size: 3rem;
        text-align: left;
        width: 100%;
    }

    .homepage-content {
        width: 100%;
        max-width: 100%;
        text-align: left;
        margin: 0;
        padding: 3rem 1rem;
        box-sizing: border-box;
    }

    .homepage-content-title {
        font-size: 1.5rem;
        letter-spacing: -0.1rem;
    }

    .homepage-content-description {
        font-size: 1rem;
        line-height: 1.4;
        max-width: 100%;
    }

    .homepage-content-links {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        gap: 0.5rem;
        position: relative;
        bottom: auto;
        width: 100%;
        margin-bottom: 2rem;
        box-sizing: border-box;
    }

    .homepage-content-links-item {
        font-size: 0.8rem;
        width: auto;
        text-align: center;
    }
}